.wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  display: grid;
  /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  /* 定义区域模板 */
  grid-template-areas:
    "part1 part1 part2"
    "part1 part1 part2"
    "part3 part4 part5";
}

.part {
  border: 1px solid #0008ff;
}

.part:first-child{
    grid-area: part1;
}
.part:nth-child(2){
    grid-area: part2;
}
